.beneficiosPage{
  background-image: url('../../assets/background1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: fit-content;
  box-shadow: 0px -100px 40px -40px rgb(33, 0, 0) inset, 0px 90px 40px -40px black inset;
  padding-bottom: 4rem;
}

.textBoxTextBonus{
  margin-top: 2rem;
}

.textBeneficiosBonus{
  display:flex;
  flex-direction: column;
  padding: 0rem 50px 6rem;
}

.bonus h5, .bonus h4{
  text-align: center;
  font-family: 'Kantumruy Pro', sans-serif;
}

.textBeneficios{
  display:flex;
  flex-direction: column;
  gap: 2.8rem;
  text-align:justify;
  padding: 8rem 50px 4rem;
}

.bulletList{
  display: flex;
  text-align:left;
  align-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 0.5rem;
}

.textBoxText{
  display: flex;
  text-align:justify;
  align-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 0.5rem;
  line-height: 2.5rem;
}

.buttonSobre{
  margin: 5rem 0rem;
  display: flex;
  justify-content: center ;
}


@media (min-width: 500px) {

  .boxTextoBeneficios{
    height:fit-content;
  }

  .boxArea{
    display:flex ;
  }

  .textBeneficios{
    width:50%;
  }

  .beneficiosContent{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 6rem;
  }

  .beneficioBoxes{
    display: flex;
  }

  .beneficioBoxes h4{
    font-family: 'Kantumruy Pro', sans-serif;
    text-align: left;
    font-size: 3rem;
  }

  .beneficioBoxes .boxTexto{
    padding: 4.8rem;
  }

  .textBoxText{
    line-height: 4rem;
  }
}