button{
  background: #BC007C;
  border:0;
  border-radius: 5px;
  font-family: 'Kantumruy Pro', sans-serif;
  font-weight: 600;
  padding: 14px 22px;
  font-size:1.8rem;
  transition: padding 1s, height 1s, font-size 1s;
  height:5.8rem;
}

button:hover {
  background: #940063;
  padding: 15.4px 24.2px;
  font-size: 1.98rem;
  height: 6.38rem;
}