/* @import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti&family=Kantumruy+Pro:wght@600&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:wght@600&family=Roboto&display=swap');


* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
}

:root{
  font-size: 62.5%;
}

.boxTexto{
  padding: 3rem 4.2rem;
  background-color: rgb(85 77 77 / 31%);
  margin: 0 5rem 3rem; 
  border-radius: 5px;
  text-align:justify;
}

.geral{
  background: black;
  height: fit-content;
}

h1{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 4.0rem;
  font-weight: 400;
}

h2{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 3.0rem;
  font-weight: 400;
}

h3{
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  font-weight: 400;
}

h4{
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 5rem;
}

h5{
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 4rem;
}

.buttonGeral{
  padding: 3rem 5rem 7rem;
  display: flex;
  justify-content: center ;
  height: 2.6rem;
}

span{

  font-family: 'Kantumruy Pro', sans-serif;
}

.mobile{
  display: flex;
}

.desktop{
  display: none;
}

.sombra{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0px -100px 40px -40px rgb(0, 0, 0) inset;
}


@media (min-width: 500px) {

  .boxTexto{
    padding: 7rem;
  }

  .buttonGeral{
    margin: 4rem 5rem 7rem;
    display: flex;
    justify-content: center ;
  }

  .desktop{
    display: flex;
  }

  .mobile{
    display: none;
  }

  h1{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 5.5rem;
    font-weight: 400;
  }
  
  h2{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 4.5rem;
    font-weight: 400;
  }
  
  h3{
    font-family: 'Roboto', sans-serif;
    font-size: 3.5rem;
    font-weight: 400;
  }
  
  h4{
    font-family: 'Roboto', sans-serif;
    font-size: 2.3rem;
    font-weight: 400;
  }
  
  h5{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 400;
  }
}